/* region Colors */
:root {
    --header-content: #1b72e8;
    --bg-content:#f8f9fa;
    --sidebar:#051e34;
    --title-list: #f6f6f6;
    --bg-badge: #165bba;
}
/* region Colors */
body {
    max-height: 100vh;
}
/* #region Debug */
/* #endregion Debug */


/* Utilities */
.fs_9 {
    font-size: 9px;
}

.fs_10 {
    font-size: 10px;
}

/* #region Top */
.top {
    height: 56px;
}

.logo {
    width:40px;
}

.logo img:first-child {
    display:none;
}

.fa-bell {
    color: gold;
}
/* #endregion Top */

/* #region Bottom */
.bottom {
    height:calc(100vh - 56px); 
}
/* #region Sidebar */
.sidebar {
    width:150px;
    height:calc(100vh - 56px);
    background-image: url('../img/sidebar-bg.png');
    background-size: cover;
    background-color: var(--sidebar);
    --title-list: #f7f7f7;
}

.sidebar ul {
    list-style: none;
}
/* #endregion Sidebar */

/* #region Content */

/* #endregion Content */
.content {
    width:calc(100% - 150px);
    height: calc(100vh - 56px);
    overflow-y: scroll;
}

.content > .blue {
    background-color: var(--header-content);
}

.bg_badge {
    background-color: var(--bg-badge);
}

.bg_color_list_title {
    background-color: var(--title-list);
}

.avatar {
    width:20px;
}

.icon {
    color: gray;
}


/* #endregion Bottom */

/* #region Responsive */

@media screen and (min-width:500px) {
    /* Navbar */
    .logo {
        width:120px;
    }
    .logo img:first-child {
        display: block;
    }

    .logo img:last-child {
        display:none;
    }    
}
/* #region Responsive */



